<div class="footer">
    <div class="notes">
        <p>The website is now published</p>
        <p></p>
        <p>The assets I used are not mine, I do not own them</p>
    </div>
    <div class="media">
        <button class="media-link" onclick="window.open('https://github.com/LampCT')"><img src="./assets/git.svg" alt=""></button>
        <button class="media-link" onclick="window.open('https://github.com/LampCT')"><img src="./assets/disc.svg" alt=""></button>
        <button class="media-link" onclick="window.open('https://github.com/LampCT')"><img src="./assets/yt.svg" alt=""></button>
    </div>