<div class="off-screen-menu" id="offMenu">
    <ul>
        <li><a onclick="location.href='upload'">upload</a></li>
        <li><a onclick="location.href='query'">query</a></li>
        <li><a onclick="location.href='list'">list</a></li>
    </ul>
</div>

<div class="nav">
    <div class="nav-title">
        <img id="Lamp"src="./assets/lamp.svg" alt="">
        <h1>Lamps DB</h1>
    </div>
    <div class="ham-menu" id ="hamMenu">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="nav-links" id="nav-links">
        <button class="nav-link" onclick="location.href='upload'">Upload</button>
        <button class="nav-link" onclick="location.href='query'">Query</button>
        <button class="nav-link" onclick="location.href='list'">List</button>
    </div>
</div>