<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/shared.css">
    <script defer src="./shared.js"></script>
    <title>Home</title>
</head>
    <body class="flex-pane">
        <%- include("./partials/header") %>
        <div class="content">

        </div>
        <%- include("./partials/footer") %>
    </body>